<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background:#d1f4f1;">
    <p><h1>What would you like to do?</h1></p>
    <ul>
        <li><b><i><a href="/ner">NER</a></i></b></li>
        <p>Named entity recognition (NER)—also called entity chunking or entity extraction—is a component of natural language processing (NLP) that identifies predefined categories of objects in a body of text.</p>
        <li><b><i><a href="/sentiment_analysis">Sentiment Analysis</a></b></i></li>
        <p>Sentiment analysis is a process that uses natural language processing (NLP), computational linguistics, and machine learning to determine the emotional tone of a piece of text. </p>
        <li><b><i><a href="/summary">Summarization</a></b></i></li>
        <p>Text summarization is a Natural Language Processing (NLP) technique that condenses the information from a text document into a shorter summary. It uses machine learning and advanced algorithms to extract the most important information from a text without changing its original meaning.</p>
    </ul>
</body>
</html>