<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP | Registration Page</title>
</head>
<body style="background-color:pink;">
    <h1 style="text-align: center; font-family: cursive;">
        <span style="background: #b8f1f8; display: inline-block;">NLP APP</span>
    </h1>

    <h3><u>💻Registration Page💻</u></h3>
    <form action="/perform_registration" method="post">
        <label>Name:</label><br><br>
        <input type="text" name="name of user" required><br><br>  <!- name it gets easy to recognize while storing data-->
        <label>Email:</label><br><br>
        <input type="email" name="email of user" required><br><br>
        <label>password:</label><br><br>
        <input type="password" name="password of user" required><br><br>
        <input type="submit" value="Register">
    </form>
    <p>Already a member? <a href="/">login</a></p>
</body>
</html>