<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
</head>
<body style="background:#b39ff0;">
    <form action="/perform_sentiment_analysis" method="post">
        <h1 style="background:#8974c8; font-family:Castellar; text-align:center;" > Sentiment Analysis</h1>
        <label>Enter the Text:</label><br><br>
        <textarea name="sentiment_text"> </textarea><br><br>
        <input type="submit" value="Analyze">
    </form>

</body>
</html>